<div>
    <h2>title</h2>
    <div class="field">
        <label for="firstName">Name</label>
        <input
        id="firstName"
        pInputText
        placeholder="sasi"
        type="text"
        class="w-full"
    ></div>

    <div class="field">
        <label for="email">Email</label>
        <input
        id="email"
        pInputText
        placeholder="sasi@gmail.com"
        type="email"
        class="w-full"
    ></div>

    <div class="field">
        <label for="age">Age</label>
        <input
        id="age"
        pInputText
        placeholder="28"
        type="number"
        class="w-full"
    ></div>

    <div class="field">
        <label for="password">Password</label>
        <input
        id="password"
        pInputText
        placeholder="password"
        type="password"
        class="w-full"
    ></div>

    <button
        pButton
        label="Submit"
        class="w-full"
    ></button>

    <button
        pButton
        label="Cancel"
        class="w-full p-button-outlined p-button-danger mt-2"
    ></button>
</div>
